<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuji.testmybatis.dao.orders.OrderDaoMapper">

 <!--表示此mapper开启二级缓存-->
 <!--<cache/>-->
 
 <!-- 包内的类自动加上别名，规则：首字母小写 -->
<!--  <typeAliases> -->
<!--   	<package name="com.yuji.testmybatis.dao.orders"/> -->
<!-- </typeAliases> -->

<select id="findOrderById"  resultType="orders.order" flushCache="true">
        select * from orders  where id = #{oid}
    </select>

 
 
 

 

</mapper>
